html {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
body {
  -webkit-tap-highlight-color: transparent;
  text-wrap: pretty;
}

@media (hover: hover) {
}
@media (max-width: 360px) {
}
@media (max-width: 768px) {
}
@media (max-width: 1024px) {
}
@media (min-width: 1920px) {
}
